<%= form_with(model: office, local: true) do |form| %>
  <% if office.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(office.errors.count, "error") %> prohibited this office from being saved:</h2>

      <ul>
        <% office.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :addressLine1 %>
    <%= form.text_field :addressLine1 %>
  </div>

  <div class="field">
    <%= form.label :addressLine2 %>
    <%= form.text_field :addressLine2 %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>

  <div class="field">
    <%= form.label :postalCode %>
    <%= form.text_field :postalCode %>
  </div>

  <div class="field">
    <%= form.label :territory %>
    <%= form.text_field :territory %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
