<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :customerName %>
    <%= form.text_field :customerName %>
  </div>

  <div class="field">
    <%= form.label :contactLastName %>
    <%= form.text_field :contactLastName %>
  </div>

  <div class="field">
    <%= form.label :contactFirstName %>
    <%= form.text_field :contactFirstName %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :addressLine1 %>
    <%= form.text_field :addressLine1 %>
  </div>

  <div class="field">
    <%= form.label :addressLine2 %>
    <%= form.text_field :addressLine2 %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :postalCode %>
    <%= form.text_field :postalCode %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>

  <div class="field">
    <%= form.label :salesRepEmployeeNumber %>
    <%= form.number_field :salesRepEmployeeNumber %>
  </div>

  <div class="field">
    <%= form.label :creditLimit %>
    <%= form.text_field :creditLimit %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
