<p id="notice"><%= notice %></p>

<h1>Customers</h1>

<table>
  <thead>
    <tr>
      <th>Customername</th>
      <th>Contactlastname</th>
      <th>Contactfirstname</th>
      <th>Phone</th>
      <th>Addressline1</th>
      <th>Addressline2</th>
      <th>City</th>
      <th>State</th>
      <th>Postalcode</th>
      <th>Country</th>
      <th>Salesrepemployeenumber</th>
      <th>Creditlimit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.customerName %></td>
        <td><%= customer.contactLastName %></td>
        <td><%= customer.contactFirstName %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.addressLine1 %></td>
        <td><%= customer.addressLine2 %></td>
        <td><%= customer.city %></td>
        <td><%= customer.state %></td>
        <td><%= customer.postalCode %></td>
        <td><%= customer.country %></td>
        <td><%= customer.salesRepEmployeeNumber %></td>
        <td><%= customer.creditLimit %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
