<p id="notice"><%= notice %></p>

<p>
  <strong>Orderdate:</strong>
  <%= @order.orderDate %>
</p>

<p>
  <strong>Requireddate:</strong>
  <%= @order.requiredDate %>
</p>

<p>
  <strong>Shippeddate:</strong>
  <%= @order.shippedDate %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @order.comments %>
</p>

<p>
  <strong>Customernumber:</strong>
  <%= @order.customerNumber %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
