<%= form_with(model: payment, local: true) do |form| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
        <% payment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :customerNumber %>
    <%= form.number_field :customerNumber %>
  </div>

  <div class="field">
    <%= form.label :checkNumber %>
    <%= form.text_field :checkNumber %>
  </div>

  <div class="field">
    <%= form.label :paymentDate %>
    <%= form.date_select :paymentDate %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
